In [1]:
li1 = [1,2,3,4]
li2 = ['A', 'B', 'C', 'D']
d = {}
for i in range(len(li1)):
    d[li1[i]] = li2[i]
print(d)

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}

In [3]:
dic = {1:'A', 2:'B', 3:'C', 4:'D', 5:'E', 6:'E', 7:'D'}
for i in dic:
    if dic[i] == 'D':
        dic[i] = 'apple'
print(dic)

{1: 'A', 2: 'B', 3: 'C', 4: 'apple', 5: 'E', 6: 'E', 7: 'apple'}

In [4]:
dic1 = {'A': 1, 'B':2, 'C':3, 'D':7, 'E':4, 'F':5, 'G':6, 'H':7}
for i in dic1:
    if dic1[i] == 7:
        dic1[i] = 10
print(dic1)

{'A': 1, 'B': 2, 'C': 3, 'D': 10, 'E': 4, 'F': 5, 'G': 6, 'H': 10}

In [5]:
dic1 = {'A': 1, 'B':2, 'C':3, 'D':7, 'E':4, 'F':5, 'G':6, 'H':7}
for k,v in dic1.items():
    if dic1[k] == 7:
        dic1[k] = 10
print(dic1)

{'A': 1, 'B': 2, 'C': 3, 'D': 10, 'E': 4, 'F': 5, 'G': 6, 'H': 10}

In [7]:
A = [1,2,9,7,10,11]
B = [1,9,12,13,14,10]
for i in range(len(A)):
    for j in range(len(A)):
        if A[i] == B[j]:
            print(A[i], end=' ,')

1 ,9 ,10 ,

In [11]:
for i in range(10):
    if i % 2 == 0:
        continue
    else:
        print(i)

1
3
5
7
9

In [15]:
for i in range(10):
    if i % 2 != 0:
        print(i)
        break
    else:
        print(i)

0
1

In [19]:
for i in range(10):
    pass

In [25]:
list1 = [1,2,3,4]
for i in list1:
    list1 = i**2
    print(list1)

1
4
9
16

In [54]:
A = [3,1,4,2]
for i in range(len(A)):
    for j in range(0,len(A)-i-1):
        #print(i,j)
        if A[j] > A[j+1]:
            A[j], A [j+1] = A[j+1], A[j]
print(A)

[1, 2, 3, 4]

In [1]:
A = [3,1,4,2]
for i in range(len(A)):
    print(i,end=' ')
    for j in range(0,len(A)-i-1):
        print(j)

0 0
1
2
1 0
1
2 0
3

In [3]:
arr = [1, 'Ali', {0:'A'}]
arr[2][0] = 'B'
print(arr)

[1, 'Ali', {0: 'B'}]

In [4]:
people = {'Alice':{'age':25, 'city':'Newyork'},
        'Bob' : {'age': 30, 'city':' San Francisco'}
         }

for k,v in people.items():
    v['occupation'] = 'Engineer'
print(people)

{'Alice': {'age': 25, 'city': 'Newyork', 'occupation': 'Engineer'}, 'Bob': {'age': 30, 'city': ' San Francisco', 'occupation': 'Engineer'}}

In [11]:
A = [1,2,4,5,3,7]
for x in A:
    if x == 4:
        print("pass detected at", x)
        pass
    elif x == 2:
        print("continue detected at", x)
        continue
    elif x == 3:
        print("break detected at", x)
        break
    else:
        print("simple no", x)

simple no 1
continue detected at 2
pass detected at 4
simple no 5
break detected at 3

In [26]:
age = {'Alice': 20,
      'Salman': 28,
      'Hamza': 16,
      'Ali': 18}
n_age = {}
for k,v in age.items():
    if v < 18:
        continue
    else:
        n_age[k] = v
print(n_age)

{'Alice': 20, 'Salman': 28, 'Ali': 18}

In [1]:
def filter_age_above_18(input_dict):
    new_age_dict = {}
    for name, age in input_dict.items():
        if age >= 18:
            new_age_dict[name] = age
    return new_age_dict

input_string = input("Enter a dictionary of names and ages in the format {'name1': age1, 'name2': age2, ...}: ")
input_dict = eval(input_string)  # Safely evaluate the input string as a dictionary

filtered_age_dict = filter_age_above_18(input_dict)
print(filtered_age_dict)

Enter a dictionary of names and ages in the format {'name1': age1, 'name2': age2, ...}:  {'asma':23, 'xyz':18}

{'asma': 23, 'xyz': 18}

In [41]:
A = [10,8,6,1,100,50]
for i in range(len(A)):
    for j in range(i+1,len(A)-1):
        #print(i,j)
        if A[j] > A[j+1]:
            A[j], A [j+1] = A[j+1], A[j]
print(A)

[10, 6, 1, 8, 50, 100]

In [42]:
A = [10,8,6,1,100,50]
for i in range(len(A)):
    for j in range(i+1,len(A)):
        #print(i,j)
        if A[i] > A[j]:
            A[i], A [j] = A[j], A[i]
print(A)

[1, 6, 8, 10, 50, 100]

In [47]:
input_string = input("Enter a nested dictionary in the format {'person1': {'age': age1, 'city': 'city1'}, 'person2': {'age': age2, 'city': 'city2'}, ...}: ")
input_dict = eval(input_string) 
for person, details in input_dict.items():
    details['occupation'] = 'Engineer'
    print(input_dict)

Enter a nested dictionary in the format {'person1': {'age': age1, 'city': 'city1'}, 'person2': {'age': age2, 'city': 'city2'}, ...}:  {'person1': {'age': 11, 'city': 'city1'}}

{'person1': {'age': 11, 'city': 'city1', 'occupation': 'Engineer'}}